In [1]:
import tensorflow as tf

In [2]:
def func():
    with tf.variable_scope('h1') as scope:
        w = tf.get_variable('w', [1])
        print w.name
        print scope.name
    with tf.variable_scope('h2') as scope:
        w = tf.get_variable('w', [2])
        print w.name
        print scope.name

In [3]:
with tf.variable_scope('func_call') as scope:
    func()
    scope.reuse_variables()
    func()

func_call/h1/w:0
func_call/h1
func_call/h2/w:0
func_call/h2
func_call/h1/w:0
func_call/h1
func_call/h2/w:0
func_call/h2

In [4]:
func()

h1/w:0
h1
h2/w:0
h2

In [8]:
import pandas as pd
import numpy as np

In [25]:
df = pd.DataFrame(np.arange(2400).reshape((600,4)))

In [26]:
def f1(df):
    df = df.iloc[np.random.permutation(len(df))]
    df = df.reset_index(drop=True)
    print df

In [27]:
df

        0     1     2     3
0       0     1     2     3
1       4     5     6     7
2       8     9    10    11
3      12    13    14    15
4      16    17    18    19
5      20    21    22    23
6      24    25    26    27
7      28    29    30    31
8      32    33    34    35
9      36    37    38    39
10     40    41    42    43
11     44    45    46    47
12     48    49    50    51
13     52    53    54    55
14     56    57    58    59
15     60    61    62    63
16     64    65    66    67
17     68    69    70    71
18     72    73    74    75
19     76    77    78    79
20     80    81    82    83
21     84    85    86    87
22     88    89    90    91
23     92    93    94    95
24     96    97    98    99
25    100   101   102   103
26    104   105   106   107
27    108   109   110   111
28    112   113   114   115
29    116   117   118   119
..    ...   ...   ...   ...
570  2280  2281  2282  2283
571  2284  2285  2286  2287
572  2288  2289  2290  2291
573  2292  2293  2294  2295
574  2296  2297  2298  2299
575  2300  2301  2302  2303
576  2304  2305  2306  2307
577  2308  2309  2310  2311
578  2312  2313  2314  2315
579  2316  2317  2318  2319
580  2320  2321  2322  2323
581  2324  2325  2326  2327
582  2328  2329  2330  2331
583  2332  2333  2334  2335
584  2336  2337  2338  2339
585  2340  2341  2342  2343
586  2344  2345  2346  2347
587  2348  2349  2350  2351
588  2352  2353  2354  2355
589  2356  2357  2358  2359
590  2360  2361  2362  2363
591  2364  2365  2366  2367
592  2368  2369  2370  2371
593  2372  2373  2374  2375
594  2376  2377  2378  2379
595  2380  2381  2382  2383
596  2384  2385  2386  2387
597  2388  2389  2390  2391
598  2392  2393  2394  2395
599  2396  2397  2398  2399

[600 rows x 4 columns]

In [28]:
f1(df)

        0     1     2     3
0     556   557   558   559
1    1932  1933  1934  1935
2     588   589   590   591
3     684   685   686   687
4    1308  1309  1310  1311
5    2036  2037  2038  2039
6    1396  1397  1398  1399
7     724   725   726   727
8      52    53    54    55
9     472   473   474   475
10    460   461   462   463
11   1548  1549  1550  1551
12   2140  2141  2142  2143
13    688   689   690   691
14   2388  2389  2390  2391
15   2384  2385  2386  2387
16   2136  2137  2138  2139
17   2000  2001  2002  2003
18   1624  1625  1626  1627
19   2184  2185  2186  2187
20   1016  1017  1018  1019
21   2032  2033  2034  2035
22   1804  1805  1806  1807
23    816   817   818   819
24    252   253   254   255
25   2144  2145  2146  2147
26   1244  1245  1246  1247
27    488   489   490   491
28    940   941   942   943
29   1108  1109  1110  1111
..    ...   ...   ...   ...
570  2052  2053  2054  2055
571  2124  2125  2126  2127
572   796   797   798   799
573   740   741   742   743
574   220   221   222   223
575  1176  1177  1178  1179
576   384   385   386   387
577   600   601   602   603
578   880   881   882   883
579  1916  1917  1918  1919
580  2348  2349  2350  2351
581   784   785   786   787
582  1952  1953  1954  1955
583  2132  2133  2134  2135
584   508   509   510   511
585   672   673   674   675
586  1792  1793  1794  1795
587   932   933   934   935
588    92    93    94    95
589  2168  2169  2170  2171
590   828   829   830   831
591  1448  1449  1450  1451
592   336   337   338   339
593  1852  1853  1854  1855
594   412   413   414   415
595   560   561   562   563
596   808   809   810   811
597   196   197   198   199
598  1352  1353  1354  1355
599  1992  1993  1994  1995

[600 rows x 4 columns]

In [24]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19
5  20  21  22  23